{% extends 'base.html' %} {%block content%}
<div class="container">
    <div class="col-md-8">
        <div>
            <h2 style="font-size: 80px; font-family: 'Lobster', cursive;  padding-top: 40px; text-align: center;">
                Welcome to Blog site</h2>
            <br><br>

            <p class="text-center">{{blogQuote.quote}}</p>

            <p class="text-center"><b>~ {{blogQuote.author}} ~</b> </p>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{%endblock%}